.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

form {
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid gray;
  display : table;
}

#msgList {
  height: 100%;
  margin-bottom: 52px;
  padding: 0;
  overflow: auto;
  padding: 1rem;

}

.msg {
  clear : both;
  background-color: #bdf;
  border:2px solid #1bf;
  padding:0.5em;
  line-height: 1.5em;
  border-radius:0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  margin-top:0px;
  margin-bottom: 10px;
}

#msgList .other-msg {
  max-width:70%;
  display: block;
  float:left;
  word-wrap: break-word;
  clear : both;
}

#msgList .my-msg {
  max-width:70%;
  display: block;
  float:right;
  word-wrap: break-word;
  clear : both;
}

#user-entrace {
  background-color: rgb(71, 224, 173);
  text-align:center;
  clear : both;
  margin-top:0px;
  margin-bottom:10px;
}

#my-entrace {
  background-color: rgba(229, 231, 67, 0.986);
  text-align:center;
  clear : both;
  margin-top:0px;
  margin-bottom:10px;
}

#user-out {
  background-color: thistle;
  text-align:center;
  clear : both;
  margin-top:0px;
  margin-bottom:10px;
}

.user-id {
  float: left;
  clear: both;
  margin-top: 0px;
  margin-bottom: 5px;
  display: block;
}

.my-msg-time {
  float: right;
  margin:24px 5px 0 0;
  margin-bottom:0px;
}

.other-msg-time {
  float: left;
  margin:24px 0 0 5px;
  margin-bottom:16px;
}

#send-btn {
  display : table-cell;
  vertical-align: bottom;
  padding-left:10px;
}

#contents {
  width:100%;
  display : table-cell;
  vertical-align: middle;
}

#msg-send-part {
  display: table-row;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
